/*========================================
			Globals
=========================================*/
header {
	background: url('../img/bg.jpg');
	background-position: 100%;
	background-size: cover;
}
hr.star-light:after {
	background-color: #f1592a;
	border-radius: 50%;
}
.profile-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.profile-pic {
		max-width: 400px;
		max-height: 400px;
		border-radius: 100%;
		overflow: hidden;
		margin: auto;
		img {
			width: 100%;
		}
	}
}
.header-social-links {
	a {
		&:first-child {
			margin-right: 20px;
		}
	}
}
.portfolio-item {
	max-height: 227px;
	overflow: hidden;
	.caption {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
