/*========================================
			Globals
=========================================*/
header {
	background: url('../img/bg.jpg');
	background-position: 100%;
}
hr.star-light:after {
	background-color: #f1592a;
	border-radius: 50%;
}
.profile-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	.profile-pic {
		max-width: 400px;
		max-height: 400px;
		border-radius: 100%;
		overflow: hidden;
		margin: auto;
		img {
			width: 100%;
		}
	}	
}
